
.container {
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
}

.headerText {
  color: #ffffff;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

.aboutMeDiv {
  height: 100vh;
  color: #ffffff;
  width: 100%;
}

.aboutImage {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.aboutMeWholeDiv {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

.aboutMeText {
  font-size: 40px;
}

.skillsDiv {
  height: auto;
  width: 100%;
  color: #000000;
}

.projectsDiv {
  background-image: url('../images/aboutMe_back.jpg');
  height: auto;
  width: 100%;
  color: #ffffff;
}

.contactDiv {
  background-image: url('../images/aboutMe_back.jpg');
  height: auto;
  width: 100%;
  color: #ffffff;
}