
.container {
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
}

.headerText {
  color: #ffffff;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

.aboutMeDiv {
  height: 100vh;
  color: #ffffff;
  width: 100%;
}

.aboutImage {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.aboutMeWholeDiv {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
}

.aboutMeSubDiv {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.aboutMeEndSubDiv {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  border:5px solid #1086e8;
  border-radius:20px;
  animation: border-flicker 2s linear infinite;
}


.aboutMeText {
  font-size: 40px;
}

.aboutMeSubText {
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

.aboutMeTextEndDot {
  animation-iteration-count: 2;
  color: #FF00E6;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  letter-spacing: 10px;
  animation: text-flicker 3s linear infinite;
}

@keyframes blinkingText{
  0%{     color: #ffffff;    }
  49%{    color: #ffffff; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #ffffff;    }
}

.skillsDiv {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  color: #000000;
  text-align: center;
}

.skillsTitle {
  font-size: 40px;
}

.skillItemDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skillsSubTitle {
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 30px;
}

.projectsDiv {
  background-color: rgb(55, 25, 10);
  width: 100%;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projectsTitle {
  text-align: center;
  font-size: 40px;
}

.projectItemContainer {
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.projectItemTitle {
  font-size: 24px;
}

.projectItemDuration {
  font-size: 16px
}

.projectItemContent {
  font-size: 16px;
}

.projectItemWholeDiv {
  display: flex;
}

.projectItemImageDiv {
  width: 30%;
}

.projectItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectItemContentDiv {
  padding: 20px;
  width: 70%;
}

.projectItemContainerPointerAbled {
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.contactDiv {
  height: 100vh;
  background-color: #ffffff;
  width: 100%;
  color: #000000;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contactTitle {
  font-size: 40px;
}

.contactFirstContent {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contactContent {
  font-size: 20px;
}

.aboutMeMainText {
  color: #FF00E6;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  letter-spacing: 10px;
  animation: text-flicker 3s linear infinite;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  2% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px rgba(242, 22, 22, 1);
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px rgba(242, 22, 22, 1)
  }
  
  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1)
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  
  19% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  
  80% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  
  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
-moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
}