
.container {
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
}

.headerText {
  color: #ffffff;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

.aboutMeDiv {
  height: 100vh;
  color: #ffffff;
  width: 100%;
}

.aboutImage {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.aboutMeWholeDiv {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}

.aboutMeText {
  font-size: 40px;
}

.skillsDiv {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  color: #000000;
  text-align: center;
}

.skillsTitle {
  font-size: 40px;
}

.skillItemDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skillsSubTitle {
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 30px;
}

.projectsDiv {
  /* height: 100vh; */
  background-color: rgb(55, 25, 10);
  width: 100%;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projectsTitle {
  text-align: center;
  font-size: 40px;
}

.projectItemContainer {
  border: 1px solid #ffffff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.projectItemTitle {
  font-size: 30px;
}

.projectItemDuration {
  font-size: 20px
}

.projectItemContent {
  font-size: 24px;
}

.contactDiv {
  height: 100vh;
  background-color: #ffffff;
  /* height: auto; */
  width: 100%;
  color: #000000;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contactTitle {
  font-size: 40px;
}

.contactFirstContent {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contactContent {
  font-size: 20px;
}